[Unit]
Description=Hopper pipe multiplexer service for Hills Road RoboCon

[Service]
WorkingDirectory=/home/pi
Type=simple
Restart=always
RestartSec=1
User=root
Group=root
ExecStart=/usr/local/bin/hopper.server /home/pi/pipes
SyslogIdentifier=Hopper

[Install]
WantedBy=shepherd.service
