[Unit]
Description=Log handler for RobotUSB with Hopper
After=robot_usb@.service

[Service]
ExecStart=/usr/local/bin/robot_usb_logs.sh

[Install]
WantedBy=multi-user.target
