[Unit]
Description=Shepherd Service for Hills Road RoboCon
Requires=sys-devices-platform-soc-3f804000.i2c-i2c\x2d1-i2c\x2ddev-i2c\x2d1.device hopper.service
After=sys-devices-platform-soc-3f804000.i2c-i2c\x2d1-i2c\x2ddev-i2c\x2d1.device hopper.service
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/pi/shepherd
Type=simple
Restart=always
RestartSec=1
User=root
Group=root
ExecStart=/usr/bin/env python3 /home/pi/shepherd/app.py
SyslogIdentifier=Shepherd

[Install]
WantedBy=multi-user.target

